Containers/CorpusGetter/QualitasCorpus-20130901r-pt1/QualitasCorpus-20130901r/docs/docs/src/corpora.dtd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<!ELEMENT acquisitiondate (#PCDATA)>
<!ELEMENT acquisitionperson (#PCDATA)>
<!ELEMENT application (name,fullname?,domain?,notes?,versions)>
<!ELEMENT applications (application)+>
<!ELEMENT binariesdirectory (#PCDATA)>
<!ELEMENT compresseddirectory (#PCDATA)>
<!ELEMENT corpus (location,date,applications)>
<!ELEMENT domain (#PCDATA)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT fullname (#PCDATA)>
<!ELEMENT language (#PCDATA)>
<!ELEMENT languageversion (#PCDATA)>
<!ELEMENT location (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT notes (#PCDATA)>
<!ELEMENT obfuscated (#PCDATA)>
<!ELEMENT opensource (#PCDATA)>
<!ELEMENT origin (#PCDATA)>
<!ELEMENT releasedate (#PCDATA)>
<!ELEMENT sourcedirectory (#PCDATA)>
<!ELEMENT sourcepackages (sourcepackage)*>
<!ELEMENT sourcepackage (#PCDATA)>
<!ELEMENT url (#PCDATA)>
<!ELEMENT version (versionname,origin?,url?,language?,languageversion?,opensource?,obfuscated?,releasedate?,acquisitiondate?,acquisitionperson?,versionnotes?,sourcedirectory?,binariesdirectory?,compresseddirectory?,sourcepackages)>
<!ELEMENT versionname (#PCDATA)>
<!ELEMENT versionnotes (#PCDATA)>
<!ELEMENT versions (version)+>
